/* Import fonts */

/* Platypi, Sedgwick and Indie Flower */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Platypi:ital,wght@0,300..800;1,300..800&family=Sedgwick+Ave&family=Sedgwick+Ave+Display&display=swap');

/* Apply to all elements (override browser defaults) */
* {
    padding: 0;
    margin: 0;
}

body {
    background: radial-gradient(1000px at top, #e8e9f0,#cbccdd,#adafc9,#9092b6,#7275a3,#5a5d8a,#46496c,#33354e);
    min-height: 100vh;      
    display: flex;
    flex-direction: column;
}

/* header margin */
h1 {
    margin: 5vh;
    font-family: "Sedgwick Ave", sans-serif;
}

h2, h3 {
    font-family: "Indie Flower", serif;
    font-size: 200%;
}


p, ul {
    font-family: Platypi, serif;
}

.center-text {
    text-align: center;
}

/* Hover effects: zoom on icon and text and change text color */
.category:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
    color: #fcb03f;
    box-shadow: 5px 5px 5px rgb(252 176 63);
}


/* categories flex container contains `category` boxes*/
#categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* category box also a flex container containing `category-image` and `category-label` boxes*/
.category {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    color:white;
    /* box properties */
    border: 3px solid rgba(191,191,191,0.4);
    border-radius: 10px;
    box-shadow: 10px 10px 0px rgb(0 0 0 / 0.2);  
}

/* category-image box */
.category-image {
    width: 30vh;
    height: 30vh;
}


/* images in the category boxes */
#arts {
    background: url("../images/7638588.jpg") no-repeat center center/cover;
}
#science {
    background: url("../images/dna-closely-compressed.jpg") no-repeat center center/cover;
}
#sports{
    background: url("../images/david-clarke-DRtKiuN9_Mk-unsplash-compressed.jpg") no-repeat center center/cover;
}
#history {
    background: url("../images/books-library-compressed.jpg") no-repeat center center/cover;
}


/* Game rules toggle (opens border-box) */
#game-rules-check-box:checked~#game-rules-box {
    display: block;
}

#game-rules-check-box {
    display: none;
}

#game-rules-box {
    display: none;
}

#game-rules {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

/* Target all game rules descendents*/
#game-rules * {
    color: #e8e9f0;
    margin-top: 2vh;
}

#game-rules h3:hover {
    color: #fcb03f;
}



/* The box where game rules and questions are displayed */
#game-rules-box {
    margin: 10px;
    border: 3px solid rgba(191,191,191,0.4);
    border-radius: 15px;
    box-shadow: 10px 10px 0px rgb(0 0 0 / 0.2);  
    width: 25vh;
    text-align: justify;
    padding: 10px 40px;
}



/* remove bullet points fromt the unordered list */
/* ul {
    list-style-type: none;
} */




/* Responsive design */

/* Media query: for tablets and larger (768px and up) */

@media screen and (min-width:768px) {
    /* header margin */
    h1 {
        font-size: 300%;
        margin-top: 10vh;
    }

    h2 {
        font-size: 250%;
    }

    h3 {
        font-size: 250%;
        margin-top: 2vh;
    }

    ul {
        font-size: 150%;
    }

    p {
        font-size: 110%;
    }

    #game-rules-box {
        width: 100vh;
    }

    /* category-image box */
    .category-image {
        width: 40vh;
        height: 40vh;
    }

    #game-rules-box {
        width: 100vh;
    }

}



/* Media query: for tablets and larger (768px and up) */

@media screen and (min-width:1024px) {


}

