/* Import fonts */

/* Platypi */
@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
/* Sedgwick */
@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Sedgwick+Ave&family=Sedgwick+Ave+Display&display=swap');
/* Patrick Hand*/
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Platypi:ital,wght@0,300..800;1,300..800&family=Sedgwick+Ave&family=Sedgwick+Ave+Display&display=swap');


/* Apply to all elements (override browser defaults) */
* {
    padding: 0;
    margin: 0;
}

body {
    /* background-color: #6c1b91; */
    min-height: 100vh;      
    display: flex;
    flex-direction: column;
    background: radial-gradient(farthest-corner at top, #e8e9f0,#cbccdd,#adafc9,#9092b6,#7275a3,#5a5d8a,#46496c,#33354e);
}


h1 {
    margin: 10vh;
    font-family: "Sedgwick Ave", sans-serif;
    /* color: #fcb03f; */
}

h2, h3 {
    font-family: "Patrick Hand", serif;
}

p {
    font-family: Platypi, serif;
}

.center-text {
    text-align: center;
}





#categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.category {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
}

.category-image {
    width: 40vh;
    height: 40vh;
    /* padding: 5px; */
}

#arts {
    background: url("../images/7638588.jpg") no-repeat center center/cover;
}
#science {
    background: url("../images/dna-closely-compressed.jpg") no-repeat center center/cover;
}
#sports{
    background: url("../images/david-clarke-DRtKiuN9_Mk-unsplash-compressed.jpg") no-repeat center center/cover;
}
#history {
    background: url("../images/books-library-compressed.jpg") no-repeat center center/cover;
}









/* Responsive design */

/* Media query: for tablets and larger (768px and up) */

@media screen and (min-width:768px) {
    h1,h2 {
        font-size: 300%;
        margin-top: 10vh;
    }

    .category-label {
        /* margin-top: -60px; */
        margin-top: -10vh;
    }

}



/* Media query: for tablets and larger (768px and up) */

@media screen and (min-width:1024px) {

    .category-label {
        /* margin-top: -60px; */
        margin-top: -5vh;
    }

}

